.footer{
    padding-left: 0px;
    width: 45cm;
    margin-left: -17rem;
    background-color: cornflowerblue;
  }


  .footer .content h3{
    background-image: url();
  font-size:2rem;
  color: #fff;
  margin-bottom:  .7rem;
  margin-left: 1rem;
  font-family: 'Times New Roman', Times, serif;
  }
  
  .footer .content ul{
    font-size:1rem;
    color:#fff;
    margin-right: 1rem;
  }

  .footer .content ul li a{
    color: #fff;
    margin-left: 1rem;
    font-size: 1rem;
    font-family: 'Times New Roman', Times, serif;
  }
  .text-center{
    text-align: center;
  }       
.row{
text-align: center;
}
